# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
# SPDX-License-Identifier: Apache-2.0

.vscode

# pixi environments
.pixi
*.egg-info

# python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

# environments
.pyenv
.env
.envrc

# data
data/articles/
data/variantAnnotations/
data/unique_pmcids.json
data/pmid_list.json
data/downloaded_pmcids.json
data/markdown

*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lzo

.DS_Store

*.log

benchmark_results/
test_outputs/