# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
# SPDX-License-Identifier: Apache-2.0

.vscode

# pixi environments
.pixi
*.egg-info

# python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

# environments
.pyenv
.env

# data
src/load_data/saved_data/
src/fetch_articles/saved_data/downloaded_pmcids.json
src/fetch_articles/saved_data/articles/